<!DOCTYPE html>
<html>

<%- include ("./layout/header") %>

<body>
    <div id="read">
        <h1>
            <%= docs.title %>
        </h1>
        <div>
            <%= docs.content %>
        </div>
        <button class="btn btn-dark" onclick="location.href='/'">뒤로가기</button>
    </div>
</body>

</html>