<!DOCTYPE html>
<html>

<%- include ('./layout/header') %>

<body> 
  <div class='forms'>
    <h1><%= title %></h1>

    <form method='post' action='/write'>
      <label for='writer'>작성자</label>
      <input type='text' name='writer' id='writer' class='form-control' autocomplete='off' placeholder='작성자'>

      <label for='title'>제목</label>
      <input type='text' name='title' id='title' class='form-control' autocomplete='off' placeholder='제목'>

      <div>내용</div>
      <textarea name='content' id='content' class='form-control' rows='10' cols='80'  placeholder='내용을 작성해주세요'></textarea>
      <br>

      <button type='submit' class='btn btn-dark'>업로드</button>
    </form>
  </div>
</body>

</html>