#read {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;
}

#read .content{
    margin: 40px 0;
}

#read .edit-btns{
    float: right;
    margin: 0 5px;
}

#read form{
    display: inline-block;
    margin: 0 5px;
}